<app-header></app-header>
<div class="container-fluid vertical-center">
    <div class="row">        
        <div class="col m-2">
            <div class="col-md-12">
                <div class="changePasswordSuccess text-center" *ngIf="changePasswordSuccess">
                    Change password successfull. Redirecting to login...
                </div> 
                <div class="text-center"><i class="fa fa-lock fa-2x" aria-hidden="true"></i></div>
                <h3 class="text-center">Change Password</h3>
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="oldPassword" style="width: 270px;display: inline-block;" placeholder="Old password" />
                        <span 
                        class="text-danger" 
                        *ngIf="changePasswordForm.get('oldPassword')?.errors && 
                            changePasswordForm.get('oldPassword')?.hasError('required')" style="padding-left: 5px;" title="Old password field required"
                    >*</span>
                    </div>
                    <div class="form-group" style="margin-top: 8px">
                        <input type="password" class="form-control" formControlName="newPassword" style="width: 270px;display: inline-block;" placeholder="New password" />
                        <span 
                        class="text-danger" 
                        *ngIf="changePasswordForm.get('newPassword')?.errors && 
                            changePasswordForm.get('newPassword')?.hasError('required')" style="padding-left: 5px;" title="New password field required"
                    >*</span>                        
                    </div>
                    <div class="form-group" style="margin-top: 8px">
                        <input type="password" class="form-control" formControlName="confirmPassword" style="width: 270px;display: inline-block;" placeholder="Confirm Password"/>
                        <span 
                        class="text-danger" 
                        *ngIf="changePasswordForm.get('confirmPassword')?.errors && 
                            changePasswordForm.get('confirmPassword')?.hasError('required')" style="padding-left: 5px;" title="Confirm password field required"
                    >*</span> 
                    </div>    
                    <div *ngIf="changePasswordForm.dirty && changePasswordForm.hasError('matchingError')" style="color: red;">Your password does not match</div>   
                    <div class="form-group" style="margin-top: 8px">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                    <div class="form-group">
                        <a routerLink="/auth/login">Need login?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>